<form action="/auth/login" method="post">
    <h4 class="center-align bold">Login</h4>
    <div class="row">
        <div class="input-field col s12 m4 offset-m4">
            <label for="">Username</label>
            <input type="text" class="validate" name="username" required id="">
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m4 offset-m4">
            <label for="">Password</label>
            <input type="password" class="validate" name="password" required id="">
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m4 offset-m4 center-align">
            <input type="submit" class="btn" value="Login">
        </div>
    </div>
    <div class="row" >
        <a style="align-center" href="/auth/register">Create an account</a>
    </div>
</form>