<form method="post" action="" onsubmit="return checkPass();">
    <h4 class="center-align bold">Create a new account</h4>
    <div class="row">
        <div class="input-field col s12 m4 offset-m4">
            <label for="username"><b>Username</b></label>
            <input type="text" name="username" required id="email">
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m4 offset-m4">
            <label for="psw"><b>Password</b></label>
            <input type="password" name="psw" required id="password" required> 
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m4 offset-m4">
            <span id="retype_error" class="error"></span>
            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" name="password" name="psw-repeat" required id="retype" required>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m4 offset-m4">
            <label for="role"><b>Role</b></label>
            <br>
            <select name="role" id="role">
                <optgroup label="Role">
                    <option value="Admin">Admin</option>
                    <option value="Manager">Manager</option>
                    <option value="Coordinator">Coordinator</option>
                    <option value="Student">Student</option>
                    <option value="Guest">Guest</option>
                </optgroup>
            </select>
        </div>
    </div>
        <div class="row">
        <div class="input-field col s12 m4 offset-m4">
            <label for="role"><b>Faculty</b></label>
            <br>
            <select name="faculy" id="faculty">
                <optgroup label="IT Faculty">
                    <option value="it">IT</option>
                    <option value="des">Design</option>
                    <option value="bus">Business</option>
                </optgroup>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m4 offset-m4 center-align">
            <button type="submit" class="btn">Create</button>
        </div>
    </div>
</form>