<form method="post" action="" onsubmit="return checkPass();">
    <h4 class="center-align bold">Create a new account</h4>
    <div class="row">
        <div class="input-field col s12 m4 offset-m4">
            <label for="username"><b>Username</b></label>
            <input type="text" name="username" required id="email">
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m4 offset-m4">
            <label for="psw"><b>Password</b></label>
            <input type="password" name="psw" required id="password" required> 
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m4 offset-m4">
            <span id="retype_error" class="error"></span>
            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" name="password" name="psw-repeat" required id="retype" required>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m4 offset-m4">
            <label for="role"><b>Role</b></label>
            <br>
            <select name="role" id="role">
                <optgroup label="IT Faculty">
                    <option value="itAdmin">IT - Admin</option>
                    <option value="itManager">IT - Manager</option>
                    <option value="itCoordinator">IT - Coordinator</option>
                    <option value="itStudent">IT - Student</option>
                    <option value="itGuest">IT - Guest</option>
                </optgroup>
                <optgroup label="Design Faculty">
                    <option value="designAdmin">Design - Admin</option>
                    <option value="designManager">Design - Manager</option>
                    <option value="designCoordinator">Design - Coordinator</option>
                    <option value="designStudent">Design - Student</option>
                    <option value="designGuest">Design - Guest</option>
                </optgroup>
                <optgroup label="Business Faculty">
                    <option value="businessAdmin">Business - Admin</option>
                    <option value="businessManager">Business - Manager</option>
                    <option value="businessCoordinator">Business - Coordinator</option>
                    <option value="businessStudent">Business - Student</option>
                    <option value="businessGuest">Business - Guest</option>
                </optgroup>
            </select>

        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m4 offset-m4 center-align">
            <button type="submit" class="btn">Create</button>
        </div>
    </div>
</form>