<script src="/javascripts/script.js"></script>
<form method="post" action="" onsubmit="return checkPass();">
    <h4 class="center-align bold">Create new Account</h4>
    <div class="row">
        <div class="input-field col s12 m4 offset-m4">
            <label for="username"><b>Username</b></label>
            <input type="text" name="username" required id="email">
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m4 offset-m4">
            <label for="psw"><b>Password</b></label>
            <input type="password" name="psw" required id="password" required> 
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m4 offset-m4">
            <span id="retype_error" class="error"></span>
            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" name="password" name="psw-repeat" required id="retype" required>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m4 offset-m4">
            <label for="role"><b>Role</b></label>
            <br>
            <select name="role" id="role">
                <option value="admin">Admin</option>
                <option value="mktManager">MKT Manager</option>
                <optgroup label="MKT Coordinator">
                    <option value="mktCoordinatorIT">MKT Coordinator - IT</option>
                    <option value="mktCoordinatorDesign">MKT Coordinator - Design</option>
                    <option value="mktCoordinatorBusiness">MKT Coordinator - Business</option>
                </optgroup>
                <optgroup label="Student">
                    <option value="studentIT">Student - IT</option>
                    <option value="studentDesign">Student - Design</option>
                    <option value="studentBusiness">Student - Business</option>
                </optgroup>
                
                <optgroup label="Guest">
                    <option value="guestIT">Guest - IT</option>
                    <option value="guestDesign">Guest - Design</option>
                    <option value="guestBusiness">Guest - Business</option>
                </optgroup>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m4 offset-m4 center-align">
            <button type="submit" class="btn">Register</button>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m4 offset-m4">
            <p>Already have an account? <a href="/auth/login">Sign in</a>.</p>
        </div>
    </div>
</form>