<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- Add the following Bootstrap 5 CSS and JS files -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <div class="container text-white">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div id="first" style="margin-top: 50px;">
                    <div class="myform form ">
                        <div class="logo mb-3">
                            <div class="col-md-12 text-center">
                                <h1>EduCon</h1>
                            </div>
                        </div>
                        <form action="" method="post" name="login">
                            <div class="card-body text-center">
                                <label class="h2 font-weight-bold">Join Us!</label><br>
                                <label class="font-size-16">Please fill up by your information</label>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-9 mx-auto">
                                    <input type="text" name="username" class="rounded form-control " id="email"
                                        aria-describedby="emailHelp" placeholder="Username">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-9 mx-auto">
                                    <input type="password" name="psw" id="password" class="form-control "
                                        aria-describedby="emailHelp" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-9 mx-auto">
                                    <input type="password" name="psw-repeat" id="repassword" class="form-control "
                                        aria-describedby="emailHelp" placeholder="Retype Password">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-9 mx-auto">
                                    <select>
                                        {{#each roleList}}
                                            <option value="{{this.name}}">{{this.name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <div class="col-md-9 mx-auto">
                                    <select name="faculty" id="" class="form-control" style="color: #d2cccc;">
                                        {{#each facultyList}}
                                            <option value="{{this.name}}">{{this.name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            
                                <div class="form-check" style="margin-left: 60px;">
                                    <input type="checkbox" class="form-check-input" id="rememberMe">
                                    <label class="form-check-label" for="rememberMe">I agree to</label>
                                    <a href="#">privacy policy & terms</a>
                                </div>
                           
                            <div class="col-md-10 text-center mx-auto mt-3">
                                <button type="submit" id="login-btn"
                                    class="btn btn-block mybtn btn-dark tx-tfm">Sign Up</button>
                            </div>
                            <div class="form-group mt-4 mb-5">
                                <p class="text-center">Already have an account? <a href="/auth/login" id="signup">Sign in instead</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<style>
    body {
        padding-top: 5rem;
        padding-bottom: 4.2rem;
        background-color: hsl(250, 25%, 19%)
    }

    a {
        text-decoration: none !important;
    }

    h1,
    h2,
    h3 {
        font-family: 'Kaushan Script', cursive;
    }

    .form-control {
        background-color: hsl(235, 22%, 30%);
        color: #fff;
        border: 0;

    }
    .form-control:focus {
        color: black;
    }
    .form-control::placeholder {
        color: #d2cccc;
    }

    #faculty {
        color: black;
    }

    .myform {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        padding: 1rem;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: hsl(250, 24%, 24%);
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 1.1rem;
        outline: 0;
        max-width: 500px;
    }

    .tx-tfm {
        text-transform: uppercase;
    }

    .mybtn {
        border-radius: 50px;
    }

    .login-or {
        position: relative;
        color: #aaa;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .span-or {
        display: block;
        position: absolute;
        left: 50%;
        top: -2px;
        margin-left: -25px;
        background-color: #fff;
        width: 50px;
        text-align: center;
    }

    .hr-or {
        height: 1px;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .google {
        color: #666;
        width: 100%;
        height: 40px;
        text-align: center;
        outline: none;
        border: 1px solid lightgrey;
    }

    form .error {
        color: #ff0000;
    }

    #second {
        display: none;
    }

    #login-btn {
        background-color: hwb(260 24% 9% / 0.857);
    }
</style>

</html>