body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.error{
  color: red;
  text-decoration: underline;
  font-style: italic;
  text-transform: uppercase;
}