<form action="" method="post" enctype="multipart/form-data">
  <h1>Add new article</h1>
  Name: <input type="text" name="name" id="" required>
  <br><br>
  Description: <input type="text" name="description" id="" required>

{{#if InputErrors.name}}
<div class="error">
  {{InputErrors.name}}
</div>
{{/if}}

  <br><br>
  Image: <input type="file" name="image" id="" required>
  <br><br>
  Docs: <input type="file" name="docs" id="" required>
  <br><br>
  Faculty:
  <select name="faculty" id="">
    {{#each facultyList }}
    <option value="{{_id}}">
      {{ name }}
    </option>
    {{/each}}
  </select>
  <br><br>
  {{!-- <div class="row">
      <div class="col s12 m4 offset-m4 center-align">
         <label>
            <input type="checkbox" name="terms_of_service" required>
            <span>I agree to the <a href="/terms_of_service_page" target="_blank">Terms of Service</a></span>
         </label>
      </div>
   </div> --}}
  <input class="btn" type="submit" value="Add">
</form>