<form action="" method="post" enctype="multipart/form-data">
   <h1>Edit contribution</h1>
   Name: <input type="text" name="name" required value="{{ contribution.name }}">
   <br><br>
   Description: <input type="text" name="description" required value="{{ contribution.description }}">

   <div class="hero">
      <label for="userfile" id="drop-area">
        <input type="file" id="userfile" name="userfile" hidden multiple>

        <div id="img-view">
          <img src="/images/icon.jpg">
          <p>Drag and drop or click here <br> to upload file</p>
          <span>Upload any files from desktop</span>
        </div>

        <br>

        <p id="num-uploaded"></p>

      </label>
  </div>

   <input class="btn" type="submit" value="Save">
</form>