<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <title>Statistics</title>
</head>

<body>
    <header id="header" class="fixed-top"></header>
    <main id="main">
        <div class="container">
            <div class="row">
                <h2 class="text-center text-white">Statistics</h2>
                <div class="col-lg-4 col-md-6" style="margin-top: 20px">
                    <div class="card border-primary">
                        <div class="card-body bg-primary text-white">
                            <div class="row">
                                <div class="col-3">
                                    <i class="fa fa-calendar fa-5x"></i>
                                </div>
                                <div class="col-9 text-center">
                                    <h1>{{numEvents}}</h1>
                                    <h4>Events</h4>
                                </div>
                            </div>
                        </div>
                        <a href="" target="_blank">
                            <div class="card-footer bg-light text-primary">
                                <span class="float-left">More details</span>
                                <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" style="margin-top: 20px">
                    <div class="card border-secondary">
                        <div class="card-body bg-warning text-white">
                            <div class="row">
                                <div class="col-3">
                                    <i class="fa fa-user-graduate fa-5x"></i>
                                </div>
                                <div class="col-9 text-center">
                                    <h1>{{numUsers}}</h1>
                                    <h4>Users</h4>
                                </div>
                            </div>
                        </div>
                        <a href="" target="_blank">
                            <div class="card-footer bg-light text-secondary">
                                <span class="float-left">More details</span>
                                <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" style="margin-top: 20px">
                    <div class="card border-success">
                        <div class="card-body bg-success text-white">
                            <div class="row">
                                <div class="col-3">
                                    <i class="fa fa-file fa-5x"></i>
                                </div>
                                <div class="col-9 text-center">
                                    <h1>{{numContribution}}</h1>
                                    <h4>Contributions</h4>
                                </div>
                            </div>
                        </div>
                        <a href="" target="_blank">
                            <div class="card-footer bg-light text-success">
                                <span class="float-left">More details</span>
                                <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" style="margin-top: 20px">
                    <div class="card border-info">
                        <div class="card-body bg-info text-white">
                            <div class="row">
                                <div class="col-3">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                                <div class="col-9 text-center">
                                    <h1>{{numFaculties}}</h1>
                                    <h4>Faculties</h4>
                                </div>
                            </div>
                        </div>
                        <a href="" target="_blank">
                            <div class="card-footer bg-light text-info">
                                <span class="float-left">More details</span>
                                <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer id="footer"></footer>

    <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="/assets/vendor/aos/aos.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function () {
            $("#header").load("/sharedhtmls/header.hbs", function () {
                $('.mobile-nav-toggle').click(function () {
                    $('#navbar').toggleClass('navbar-mobile');

                });

                $('.dropdown > a').click(function (e) {
                    e.preventDefault();
                    $(this).next('ul').slideToggle();
                });
            });
            $("#footer").load("/sharedhtmls/footer.hbs");
        });

    </script>

</body>
<style>
    main {
        padding-top: 150px;
    }
</style>

</html>