<form action="" method="post">
  <h1>Add new article</h1>
  Name: <input type="text" name="name" id="" required>
  <br><br>
  First Closure Date: <input type="date" name="firstClosureDate" required>
  <br><br>
  Final Closure Date: <input type="date" name="finalClosureDate" required>
  <br><br>
  Open Date: <input type="date" name="openDate" required>
  <br><br>
  <input class="btn" type="submit" value="Add">
</form>