<h1>Event List</h1>
<div class="row">
   <a class="btn" href="/event/add">Add product</a>
</div>
<div class="row">
   <form class="col m5" action="/event/search" method="post">
      <input class="form-control" type="search" name="keyword"
      placeholder="Search by contribution name" required>
   </form>
</div>
<table class="table table-primary">
   <tr>
      <th>Event name</th>
      <th>Event first closure date</th>
      <th>Event final closure date</th>
      <th>Menu</th>
   </tr>
   {{#each eventList }}
   <tr>
      <td>{{ name }}</td>
      <td>{{ firstClosureDate }}</td>
      <td>{{ finalClosureDate }}</td>
      <td>
         <a class="btn orange" href="/event/edit/{{ _id }}">Edit</a>
      </td>
   </tr>
   {{/each}}
</table>

   <div class="container">
      <div id='calendar'></div>
   </div>


<script>
   document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            initialDate: new Date(),
            headerToolbar: {
               left: 'prev,next today',
               center: 'title',
               right: 'dayGridMonth, timeGridWeek, timeGridDay', 
            }, 
            eventSources: [
               {
                  url: '/event/eventData',
                  color: 'white',
                  textColor: 'black' 
               }
            ]
      });
      calendar.render();
   });
</script>
